body {
    margin: 0;
    padding: 0;
    background: rgb(90, 96, 116);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.title {
    width: 100%;
    color: navy;
    text-align: center;
    border-bottom: 3px solid black;
}

.margin {
    height: auto;
    margin: 10px 0;
}

#total-score {
    color: tomato;
}

.hidden {
    display: none;
}

.stroke {
    -webkit-text-stroke: 1px black;
}

.align-center {
    text-align: center;
}

.space {
    width: 10%;
    text-align: center;
}

.game-result-right {
    text-align: left;
    width: 40%;
}

.game-result-left {
    text-align: right;
    width: 50%;
}

.stage-result-right {
    text-align: left;
    width: 45%;
}

.stage-result-left {
    text-align: right;
    width: 45%;
}

.left-right {
    width: 45%;
    height: 100%;
}

#msg-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
}

#canvas-container {
    height: 933px;
    position: relative;
}

#game-result {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    opacity: 0;
}

#stage-result {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    opacity: 0;
}

#stage-result-footer {
    font-size: 20px;
}

#information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    opacity: 0;
}

#arrow {
    width: 10%;
}

#back {
    width: 25%;
    height: 5%;
    font-size: 16px;
}

#canvas {
    background: rgb(90, 96, 116);
}