<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>지뢰피하기</title>
    <link rel="stylesheet" href="/views/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta property="og:type" content="game"> 
    <meta property="og:title" content="지뢰피하기">
    <meta property="og:description" content="지뢰찾기를 응용한 새로운 퍼즐게임">
    <meta property="og:image" content="/images/mine.png">
    <meta property="og:image:width" content="150">
    <meta property="og:image:height" content="150">
    <meta property="og:url" content="https://avoidmine.herokuapp.com/">
</head>
<body>
    <div id="canvas-container" class="flex">
        <div id="msg-box" class="elem flex hidden"></div>
        <div id="help" class="elem flex-column hidden align-center">
            <div id="help-title" class="title margin">도움말</div>
            <div id="help-article" class="help-grid overflow border-bottom"></div>
            <div id="help-footer" class="margin">F를 누르면 창을 닫습니다.</div>
        </div>
        <div id="nav" class="elem flex-column user-select-none">
            <div id="nav-help" class="nav-item">도움말(Q)</div>
            <div id="nav-help" class="nav-item"><a class="remove-line" href="https://discord.gg/vgrAtkUhjR" target="_blank">버그제보</a></div>
        </div>
        <div id="game-result" class="drop flex-column hidden">
            <div id="game-result-title" class="title margin"></div>
            <div class="flex">
                <div class="game-result-left">STAGE</div>
                <div class="space"></div>
                <div id="stage" class="margin game-result-right"></div>
            </div>
            <div class="flex">
                <div class="game-result-left">점수</div>
                <div class="space"></div>
                <div id="score" class="margin game-result-right"></div>
            </div>
            <div class="flex">
                <div class="game-result-left">RANK</div>
                <div class="space"></div>
                <div id="rank" class="margin game-result-right"></div>
            </div>
            <canvas id="back"></canvas>
        </div>
        <div id="stage-result" class="drop flex-column hidden">
            <div id="stage-result-title" class="title margin"></div>
            <div class="flex">
                <div class="stage-result-left">밟은 칸 수 x50</div>
                <div class="space">─</div>
                <div id="cell-count" class="margin stage-result-right"></div>
            </div>
            <div class="flex">
                <div id="remaining-time-text" class="stage-result-left">남은 시간 x1</div>
                <div class="space">─</div>
                <div id="remaining-time" class="margin stage-result-right"></div>
            </div>
            <div id ="movement-div" class="flex">
                <div class="stage-result-left">움직임 최적화</div>
                <div class="space">─</div>
                <div id="movement-optimization" class="margin stage-result-right"></div>
            </div>
            <div id="item-div" class="flex">
                <div class="stage-result-left">아이템 미사용</div>
                <div class="space">─</div>
                <div id="reserved-item" class="margin stage-result-right"></div>
            </div>
            <div id="perfect-clear-div" class="flex">
                <div class="stage-result-left">퍼펙트 클리어</div>
                <div class="space">─</div>
                <div id="perfect-clear" class="margin stage-result-right"></div>
            </div>
            <div class="flex">
                <div class="stage-result-left">총계</div>
                <div class="space">─</div>
                <div id="total-score" class="margin stage-result-right"></div>
            </div>
            <div id="stage-result-footer"></div>
        </div>
        <div id="information" class="elem flex-column hidden align-center">
            <div id="information-title" class="title margin"></div>
            <div id="information-header" class="margin"></div>
            <div class="flex margin">
                <div id="information-left" class="flex left-right"></div>
                <div id="arrow" class="flex hidden"></div>
                <div id="information-right" class="flex left-right"></div>
            </div>
            <div id="information-article" class="flex"></div>
            <div id="information-footer" class="flex margin border-top"></div>
        </div>
        <div id="input-id" class="elem flex-column hidden align-center">
            <div id="input-id-title" class="title margin">이름을 입력하세요</div>
            <div id="input-id-header" class="margin2">특수문자(!@#$%: 등)를 포함하지 않은<br> 최대 15글자의 이름을 입력해주세요</div>
            <div class="flex margin2">
                <input id="input-id-input" type="text" size="25" maxlength="15" placeholder="여기에 이름 입력">
            </div>
            <canvas id="submit" class="margin2"></canvas>
        </div>
        <div id="leaderboard" class="elem flex-column hidden align-center">
            <div id="leaderboard-title" class="margin">순위표</div>
            <div id="leaderboard-container" class="flex-column">
                <div id="leaderboard-check" class="flex border-bottom4">
                    <div class="select-mode">
                        <label class="box-radio-input">
                            <input id="classic-check" class="hidden" type="radio" name="mode" checked="checked">
                            <div id="leaderboard-mode01" class="radio">클래식 모드</div>
                        </label>
                    </div>
                    <div class="select-mode">
                        <label id="leaderboard-mode02-label" class="box-radio-input">
                            <input id="challenge-check" class="hidden" type="radio" name="mode">
                            <div id="leaderboard-mode02" class="radio">도전 모드</div>
                        </label>
                    </div>
                    <div class="select-mode">
                        <label class="box-radio-input">
                            <input id="survival-check" class="hidden" type="radio" name="mode">
                            <div id="leaderboard-mode03" class="radio">생존 모드</div>
                        </label>
                    </div>
                </div>
                <div id="leaderboard-select" class="flex hidden"></div>
                <div id="leaderboard-list" class="classic-grid"></div>
            </div>
            <div id="leaderboard-footer" class="margin2">목록 페이지 이동 [ A, D ]키,  메인 화면 이동 [ F ]키<br>비속어나 부적절한 표현의 이름을 사용한 기록은 관리자에 의해 삭제될 수 있습니다.</div>
        </div>
        <div id="update-log" class="elem flex-column hidden align-center">
            <div id="update-log-title" class="title margin">🛠 패치 노트 🛠</div>
            <div id ="update-log-article" class="align-left overflow border-bottom3"></div>
            <div id="update-log-footer" class="margin">F를 누르면 창을 닫습니다.</div>
        </div>
        <div id="challenge" class="elem flex-column hidden align-center">
            <div id="challenge-title" class="title margin">맵 선택</div>
            <div id="challenge-article" class="grid overflow border-bottom3"></div>
            <div id="challenge-footer" class="margin">F를 누르면 창을 닫습니다.</div>
        </div>
        <div id="challenge-fail" class="drop flex-column hidden align-center">
            <div id="challenge-fail-title" class="title margin">도전 실패</div>
            <div id="challenge-fail-article" class="margin2">
                F키를 누르면 메인 화면으로 돌아갑니다.<br>
                R키를 누르면 재도전합니다.
            </div>
        </div>
        <div id="survival-result" class="drop flex-column hidden">
            <div id="survival-title" class="title margin">GAME OVER</div>
            <div class="flex">
                <div class="game-result-left">점수</div>
                <div class="space">─</div>
                <div id="survival-score" class="margin game-result-right"></div>
            </div>
            <div class="flex">
                <div class="game-result-left">경과시간</div>
                <div class="space">─</div>
                <div id="survival-time" class="margin game-result-right"></div>
            </div>
            <div class="flex">
                <div class="game-result-left">속도</div>
                <div class="space">─</div>
                <div id="survival-delay" class="margin game-result-right"></div>
            </div>
            <div class="flex">
                <div class="game-result-left">밟은 칸 수</div>
                <div class="space">─</div>
                <div id="survival-cellCount" class="margin game-result-right"></div>
            </div>
            <div class="flex">
                <div class="game-result-left">RANK</div>
                <div class="space">─</div>
                <div id="survival-rank" class="margin game-result-right"></div>
            </div>
            <div id="survival-footer" class="margin">F키를 누르면 메인 화면으로 돌아갑니다.</div>
        </div>
        <canvas id="canvas" width="1920", height="920"></canvas>
    </div>
    <script src="/views/constant.js"></script>
    <script src="/updateLog.js"></script>
    <script src="/help.js"></script>
    <script src="/views/script.js"></script>
</body>
</html>